body {
  background-color: white;
  /*background-image: url("hosp7.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}

.headings>div {
  position: absolute;
  opacity: 0.5;
  overflow: hidden;
}

.heading {
  /* position: absolute; */
  color: navy;
  text-align: center;
  margin-top: 30px;
  margin-left: 8%;
}

.menu {
  margin-left: 10%;
  /* position: absolute; */
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.menu>li a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu>li a:hover {
  background-color: #555;
  /* color: white; */
}

.services {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.service:hover .services {
  display: flex;
  flex-direction: column;
}

.headings {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: maroon;
  width: 100%;
  text-align: center;
  color: white;
  padding: 4px;
  top: 0;
}

.hosp_images {
  margin-top: 30px;
}

.hosp_images img {
  width: 100%;
  height: 50%;
}

.hosp_images .btnleft {
  float: left;
  top: 60%;

}

.hosp_images .btnright {
  float: right;
  top: 50px;
}

/* .hosp_images_mult{
  width: 100%;
}

.hosp_images_mult img{
  display: hidden;
} */

.welcome {

  margin-left: 10px;
}

.bottomimg {
  float: right;
  right: 0;
}

.modern {
  display: flex;
  flex-direction: row;
}

.featured_services {
  border: 5px;
  background-color: #f8373798;
  align-content: center;
  color: white;
}

.featured {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.featured>div {
  margin-top: 10px;
  align-items: center;
}


.featured img {
  border-style: solid;
  border-color: yellow;
  width: 100%;
  height: 100%;
}

.pharmacy {
  width: 20%;
  height: 20%;
  padding: 30px;
}

.laboratory {
  width: 20%;
  height: 20%;
  padding: 30px;
}

.radiology {
  width: 20%;
  height: 20%;
  padding: 30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background-color: #800000e1;
  color: white;
}

.abchosp {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.quicklinks {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 300px;
  padding-bottom: 50px;
}

.quicklinks>a:link {
  text-decoration: none;
  color: black;
}

.quicklinks>a:hover {
  color: blue;
}

.newspaper {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  background-color: #555;
  color: white;
}

.newspaper>div {
  align-items: center;
  padding-bottom: 60px;
}

.support {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 300px;
  padding-bottom: 50px;
}

.aboutdetails {
  margin-top: 40%;
  background-color: #696565e1;
}

.contactdetail_format {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  color: white;
}

.form1 {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  padding-left: 600px;
}

.aboutcontacts {
  width: 100%;
  height: 50%;
  background-color: maroon;
  display: flex;
  flex-direction: rows;
  /* padding-left: 600px; */
}

.transportfacilities {
  display: flex;
  flex-direction: row;
  color: white;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.parking {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.buses {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.accessibility {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.outpatientinfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.outpatientinfo>div {
  display: flex;
  flex-direction: row;
}
.accident{
  padding-bottom: 300px;
}
.add1{
  padding-left: 100px;
}

.footer {
  background-color: grey;
  width: 100%;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 4px;
  bottom: 0;
}